@import "../node_modules/bootstrap/scss/bootstrap";


$pink: #ed3192;
$blue: #1dbacc;
$orange: #fedb0f;

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pharmacy {
    display: flex;
    justify-content: space-between;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
