@import "../node_modules/bootstrap/scss/bootstrap";

$pink: #ed3192;
$blue: #1dbacc;
$orange: #fedb0f;

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    bottom: 10px;
}

.pharmacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    // background-color: #1dbacc;
    // background-color: $orange;
    &__detail {
        color: white;
        background-color: $orange;
        width: 80%;
        text-align: center;
        line-height: 1.6em;
        letter-spacing: 0.4em;
        font-size: 1.9em;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    &__hours {
        display: flex;
        color: black;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }
}

.items-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.items {
    display: flex;
    // overflow: scroll;
    height: 450px;
}

.item-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.item-arrow:hover,
.item-arrow:focus {
    opacity: 1;
}

#item-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#item-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.item {
    width: 100%;
    height: 100%;
    // background-color: yellow;
    // flex: 1 0 100%;

    &__img {
        width: 250px;
        margin-top: 30px;
        margin-right: 30px;
        object-fit: cover;
    }
}

.item__description {
    display: none;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    // text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    // position: absolute;
    z-index: 1;
    // bottom: 125%;
    // left: 50%;
    // margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// /* Popup container */
// .item__img {
//     // position: relative;
//     // display: inline-block;
//     cursor: pointer;
//   }

//   /* The actual popup (appears on top) */
//   .item__img .item__description {
//     visibility: hidden;
//     width: 160px;
//     background-color: #555;
//     color: #fff;
//     // text-align: center;
//     border-radius: 6px;
//     padding: 8px 0;
//     // position: absolute;
//     z-index: 1;
//     // bottom: 125%;
//     // left: 50%;
//     // margin-left: -80px;
//   }

//   /* Popup arrow */
//   .item__img .item__description::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: #555 transparent transparent transparent;
//   }

//   /* Toggle this class when clicking on the popup container (hide and show the popup) */
//   .item__img .show {
//     visibility: visible;
//     -webkit-animation: fadeIn 1s;
//     animation: fadeIn 1s
//   }

//   /* Add animation (fade in the popup) */
//   @-webkit-keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
//   }

//   @keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity:1 ;}
//   }
